<footer >
  <div class="m-left">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 address footer-pod"> 1050 Washington Ave. <br />
          Miami Beach, Fl  33139 <br />
          <span>(305) 421-6265 (Tel)</span> <br />
          <a href="mailto:info@wphsouthbeach.com">info@wphsouthbeach.com</a> </div>
        <div class="col-sm-3 footer-pod">
          <h4>STAY INFORMED</h4>
          <form class="signup-form jotform-form" action="https://submit.jotform.me/submit/61294447671462/" method="post" name="form_61294447671462" id="61294447671462" accept-charset="utf-8"  role="search">
          
  <input type="hidden" name="formID" value="61294447671462" />
            <input type="email" class="form-control form-textbox validate[required, Email]"  placeholder="E-Mail Address"  class=" form-textbox validate[required, Email]" id="input_3" name="q3_email" size="30" value=""  required="required" />
            <button id="input_2" type="submit" class="button-outline"> <span>SUBSCRIBE</span> </button>
            <input type="hidden" id="simple_spc" name="simple_spc" value="60803179348460"  />
            <script type="text/javascript"> document.getElementById("si" + "mple" + "_spc").value = "60803179348460-60803179348460"; </script>
          </form>
        </div>
        <div class="col-sm-4 footer-pod">
          <h4>JOIN US</h4>
          <a href="https://wphsouthbeach.reztrip.com" class="button-outline"> <span>RESERVE YOUR ROOM</span> </a>
          <h5>MORE LINKS</h5>
          <p  class="more-links"><!--  &nbsp;&nbsp; <a href="/">Sitemap</a> &nbsp;&nbsp; --><a href="careers.html">Careers</a> &nbsp;&nbsp; <a href="press.html">Press</a> &nbsp;&nbsp; <a href="/contact.html">Contact</a> &nbsp;&nbsp; <a href="/privacy-policy.html">Privacy Policy</a> &nbsp;&nbsp; <a href="/terms.html">Terms of Use</a></p>
        </div>
        <div class="col-sm-2">
        <a href="http://www.highgate.com/" target="_blank"><img src="/assets/images/highgate.png" class="hg-logo"  alt=""/></a></div> 
      </div>
      <div class="row bottom">
      
        <div class="col-sm-6 footer-pod">
           <ul class="social">
              
              <li><a href="https://www.instagram.com/wphsouthbeach/" target="_blank" class="instagram">instagram</a></li>
              <li><a href="https://www.facebook.com/WPHSouthBeach/" target="_blank" class="facebook">Facebook</a></li>
              <li><a href="https://twitter.com/wphsouthbeach" target="_blank" class="twitter">twitter</a></li>
              <li><a href="https://www.tripadvisor.in/Hotel_Review-g34439-d557848-Reviews-Washington_Park-Miami_Beach_Florida.html" target="_blank" class="tripadviser">tripadviser</a></li>
              <li><a href="https://twitter.com/hashtag/WherePlayHappens?src=hash" target="_blank" class="foot-link">#WherePlayHappens</a></li>
            </ul>
        </div>
        <div class="col-sm-6 copy-right footer-pod">
        Copyright {{ site.time | date: '%Y' }}. Washington Park Hotel, All right reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
{% include booking-widget.html %} 
{% include scripts.html %} 
</body></html>