$primary-color: #f2eae6;
$secondary-color: #000000;
$heightlite-color:#2db3a2;
$light-color:  #fff; 
$light-greay:  #969696;
$main-font: "alternategothic2_btregular";
$text-font: "freight-sans-pro",sans-serif;
$label-font: 'Freight Big W01 Medium Italic';
$bg-texture: url(/assets/images/bg-texture.jpg);
$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2); 
$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)
