---
layout: default
---
<body id="contact-page" ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
     
	<div  class="m-left">  
    <!-- special wrap start-->
    <section class="special-wrap clearfix"> 
      <div class="special-box">
        <div class="special-contaienr">
         <div class="special-content special-content1"> 
                  <div class="row contact-info">
                      <div class="col-sm-6">
                      	<h1>Washington Park Hotel</h1>
                        <p>1050 Washington Avenue<br>
 														Miami Beach, FL 33139<br>
                            <a href="https://goo.gl/maps/Cyk24Arbeby" target="_blank">Get Directions</a></p>
                         <h2>General Information</h2>
                         <p>Phone:    (305) 421-6265<br>
														Fax:        (305) 421-6299</p>

												<p><a href="mailto:wphreservations@wphsouthbeach.com">WPHreservations@WPHsouthbeach.com</a></p>
                      </div>
                      
                      <div class="col-sm-6">
                     <h2>Group Inquiries</h2>
												<p><a href="mailto:groups@wphsouthbeach.com">groups@WPHsouthbeach.com</a><br>
 														<a href="groups.html#rfp">Weddings RFP</a><br>
                            <a href="groups.html#rfp">Groups/Meetings RFP</a> <br>
                           Phone:    (305) 421-6685 
                       </p>  
                        <h2>Media Inquiries</h2>
                        	<p>
                          	<a href="#">Carma PR</a><br>
                          <a href="mailto:wph@wphsouthbeach.com">WPH@WPHsouthbeach.com</a> 
                       </p>  
              </div>
             </div>
           </div> 
          
        </div> 
      </div>
      <div class="special-box">
        <div class="special-contaienr">  
    			
         <div id="map-canvas"></div>
            
     
        </div> 
      </div>
    </section>
    <!-- special wrap end--> 

  {% include footer.html %} 
</div>
