---
layout: default
---
<body id="explore-page" ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
     
	<div  class=" ">  
    <!-- special wrap start-->
    <section class="special-wrap clearfix"> 
      <div class="special-box cat-box">
        <div class="special-contaienr">
           <div class="v-parent">
              <div class="v-child">
              	<div class="category-wrapper">
                	<div class="cat-pod eat-pod">
                  	<a class="cat-toggle" data-cat="1">EAT</a>
                    <div class="pod-container">
                    	<ul>
                      	<li>
                        	<h3>1. La Sandwicherie</h3>
                          <p>In the heart of South Beach, La Sandwicherie dispenses gourmet sandwiches, salads and smoothies. Grab a stool at the walk-up counter and enjoy!</p>
                          <p class="address"  >305.532.8934</p>  
                          <p class="address">229 14th St, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://lasandwicherie.com/" target="_blank">lasandwicherie.com</a></p> 
                        </li>
                        <li>
                        	<h3>2. Puerto Sagua</h3>
                          <p>Stop on by if you’re in the mood for traditional Cuban comfort-food, Puerto Sagua has been around since the early 1960’s. </p>
                          <p class="address">305.673.1115</p>  
                          <p class="address">700 Collins Ave, Miami Beach, FL 33139</p> 
                        </li>
                        <li>
                        	<h3>3. Go go</h3>
                          <p>Simple and delish- create your own salad, choose from dozens of handmade empanadas or try one of their house made soups. Vegetarian options available!</p>
                          <p class="address">305.673.3137</p>  
                          <p class="address">926 Alton Rd, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.gogomiamibeach.com/" target="_blank">gogomiamibeach.com</a></p> 
                        </li>
                        <li>
                        	<h3>4. DIRT</h3>
                          <p>This hip counter serves everything from veggie & grain bowls to juices & java.</p>
                          <p class="address">305.239.3000</p>  
                          <p class="address">232 5th St, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.dirteatclean.com/" target="_blank">dirteatclean.com</a></p> 
                        </li>
                         <li>
                        	<h3>5. Lucali</h3>
                          <p>Rustic-style eatery, located in Sunset Harbour, serving upscale brick-oven pizzas & salads.</p>
                          <p class="address">305.695.4441</p>  
                          <p class="address">1930 Bay Rd, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://lucali.com/" target="_blank">lucali.com</a></p> 
                        </li>
                       	<li>
                        	<h3>6. Yardbird - Southern Table & Bar</h3>
                          <p>Farm-to-table Southern comfort food & bourbon bar- get in on the goodness.</p>
                          <p class="address">305.538.5220</p>  
                          <p class="address">1600 Lenox Ave, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://runchickenrun.com/" target="_blank">runchickenrun.com</a></p> 
                        </li>
                        <li>
                        	<h3>7. The Forge</h3>
                          <p>Offering upscale farm-to-table fare & a high-tech wine bar- enjoy a night on the town this extravagantly decorated local landmark.</p>
                          <p class="address">305.538.8533</p>  
                          <p class="address">432 W 41st St, Miami Beach, FL 33140</p>
                          <p class="address"><a href="http://www.theforge.com" target="_blank">theforge.com</a></p> 
                        </li>
                        <li>
                        	<h3>8. Joe’s Stone Crab</h3>
                          <p>Joe’s opens seasonally, October thru May, during which they serve the freshest seafood [Stone Crab claws in particular], traditional Key Lime pie & more. </p>
                          <p class="address">305.673.0365</p>  
                          <p class="address">11 Washington Ave, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.joesstonecrab.com" target="_blank">joesstonecrab.com</a></p> 
                        </li>
                        <li>
                        	<h3>9. Red, the Steakhouse</h3>
                          <p>A contemporary steakhouse with an extensive wine list, chic ambiance & smart decor.</p>
                          <p class="address">305.534.3688</p>  
                          <p class="address">119 Washington Ave, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.redthesteakhouse.com" target="_blank">redthesteakhouse.com</a></p> 
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="cat-pod drink-pod">
                  	<a class="cat-toggle" data-cat="2">DRINK</a>
                    <div class="pod-container">
                    	<ul>
                      	<li>
                        	<h3>1. Clandestino</h3>
                          <p>Live music pub</p>
                          <p class="address">305.397.8946</p>  
                          <p class="address">758 Washington Ave, Miami Beach, FL 33139</p> 
                        </li>
                        <li>
                        	<h3>2. Lost weekend</h3>
                          <p>Local ‘dive’</p>
                          <p class="address">305.672.1707</p>  
                          <p class="address">218 Española Way, Miami Beach, FL 33139</p> 
                        </li>
                        <li>
                        	<h3>3. The Abbey</h3>
                          <p>Craft Beer Bar<br>
                          Home of award winning, handcrafted beers this local brew pub has great beer and a down to Earth atmosphere.</p>
                          <p class="address">305.538.8110</p>  
                          <p class="address">1115 16th St, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://abbeybrewinginc.com/" target="_blank">abbeybrewinginc.com</a></p> 
                        </li>
                        
                        <li>
                        	<h3>4. Sweet Liberty</h3>
                          <p>Craft Cocktails<br>This hip neighborhood bar has unique cocktails paired with American bites.
                          </p>
                          <p class="address">305.763.8217</p>  
                          <p class="address">237 20th St, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.mysweetliberty.com/" target="_blank">mysweetliberty.com</a></p> 
                        </li>
                         <li>
                        	<h3>5. Radio</h3>
                          <p>Lounge, Pool Table & Cocktails</p>
                          <p class="address">305.397.8382</p>  
                          <p class="address">814 1st St, Miami Beach, FL 33139</p> 
                        </li>
                         <li>
                        	<h3>6. Repour</h3>
                          <p>Craft Cocktails<br>Funky bar with mismatched furniture and craft cocktails. Enjoy the cozy indoor bar, or the spacious outdoor courtyard.
                          </p>
                          <p class="address">305.913.1000</p>  
                          <p class="address">1650 James Ave, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.repourbar.com/" target="_blank">repourbar.com</a></p> 
                        </li>
                          <li>
                        	<h3>7. Bodega</h3>
                          <p>Dancing, Tacos & Tequila<br>At night, Bodega, the over-the-top Mexican street food restaurant turns into a hip dance club open until 5am.
                          </p>
                          <p class="address">305.704.2145</p>  
                          <p class="address">1220 16th St, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.bodegasouthbeach.com/" target="_blank">bodegasouthbeach.com</a></p> 
                        </li>
                         <li>
                        	<h3>8. Rec Room</h3>
                          <p>Lounge & Dancing</p>
                          <p class="address">786.975.2555</p>  
                          <p class="address">1690 Collins Ave, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.recroomies.com/" target="_blank">recroomies.com</a></p> 
                        </li>
                         <li>
                        	<h3>9. SET Nightclub</h3>
                          <p>Posh Lounge</p>
                          <p class="address">305.531.2800</p>  
                          <p class="address">320 Lincoln Rd, Miami Beach, FL 33139</p>
                          <p class="address"><a href="http://www.setmiami.com/" target="_blank">setmiami.com</a></p> 
                        </li>
                         <li>
                        	<h3>10. Astor social club</h3>
                          <p>A speakeasy for locals that’s hidden in the basement of the Hotel Astor.</p>
                          <p class="address">305.531.8081</p>  
                          <p class="address">956 Washington Ave, Miami Beach, Florida</p>
                          <p class="address"><a href="http://www.hotelastor.com/" target="_blank">hotelastor.com</a></p> 
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                   <div class="cat-pod see-pod">
                  	<a class="cat-toggle" data-cat="3">SEE & DO</a>
                    <div class="pod-container">
                    	<ul>
                      	<li>
                        	<h3>1. Wolfsonian Museum</h3>
                          <p>The Wolfsonian's collections comprise objects from the height of the Industrial Revolution through the end of the Second World War.</p>
                          <p class="address">305.531.1001</p>  
                          <p class="address">1001 Washington Avenue, Miami Beach, FL 33139</p> 
                          <p class="address"><a href="http://wolfsonian.org/" target="_blank">wolfsonian.org</a></p> 
                        </li>
                        <li>
                        	<h3>2. Bass Musuem of Art</h3>
                          <p>The Bass Museum of Art specializes in exhibitions of contemporary art.</p>
                          <p class="address">305.673.7530</p>  
                          <p class="address">2100 Collins Ave,  Miami Beach, FL 33139</p> 
                          <p class="address"><a href="http://bassmuseum.org/" target="_blank">bassmuseum.org</a></p> 
                        </li>
                        <li>
                        	<h3>3. World Erotic Art Museum</h3>
                          <p>Need we say more? </p>
                          <p class="address">1205 Washington Ave, Miami Beach, FL 33139</p>   
                        </li>
                        
                        <li>
                        	<h3>4. South Pointe Park </h3>
                          <p>Beach & Trail </p> 
                          <p class="address">1 Washington Ave, Miami Beach, FL 33139</p> 
                        </li>
                         <li>
                        	<h3>5. 11th Street Beach</h3>
                          <p>Sunshine & Waves</p> 
                        </li>
                         <li>
                        	<h3>6. Lummus Park</h3>
                          <p>This beachfront park is one of the most popular destinations in Miami and a must-see for any tourist. There are public restrooms and paved paths for walking or biking but the main amenity is the beach itself, with clear turquoise water and tall beautiful palm trees. Lummus is within walking distance of Ocean Drives many restaurants, sidewalk cafes and stores. 
                          </p>
                         
                        </li>
                          <li>
                        	<h3>7. Matheson Hammock Park</h3>
                          <p>Beach, Trail, Park & Marina located in beautiful South Coral Gables.
                          </p> 
                        </li>
                         <li>
                        	<h3>8. Fairchild Gardens</h3>
                          <p>Botanical Majestry</p>
                          <p class="address">305.665.5475</p>  
                          <p class="address">9610 Old Cutler Rd, Coral Gables, FL 33156</p> 
                        </li>
                         <li>
                        	<h3>9. O Cinema</h3>
                          <p>Movie Theater</p>
                          <p class="address">305.571.9970</p>  
                          <p class="address">90 NW 29th St, Miami, FL 33127</p> 
                        </li>
                         <li>
                        	<h3>10. Calle Ocho</h3>
                          <p>8th Street in Miami’s historic Little Havana neighborhood</p> 
                        </li>
                          <li>
                        	<h3>10. Wynwood </h3>
                          <p>Street art, boutiques & grub</p> 
                          <p>Wynwood area includes NW 6 Avenue to N Miami Avenue, NW 20 street to NW 36 street</p> 
                        </li>
                      </ul>
                    </div>
                  </div>
                  
                   <div class="cat-pod shop-pod">
                  	<a class="cat-toggle" data-cat="4">SHOP</a>
                    <div class="pod-container">
                    	<ul>
                      	<li>
                        	<h3>1. Lincoln Road</h3>
                          <p>Lincoln Road is a mile-long outdoor pedestrian-only promenade with unique shops, dining and galleries. 
Runs east-west, parallel between 16th Street and 17th Street</p> 
                          <p class="address"><a href="http://lincolnroadmall.com/" target="_blank">lincolnroadmall.com</a></p> 
                        </li>
                        <li>
                        	<h3>2. Espanola way</h3>
                          <p>Historic one-block village offers shops, outdoor and indoor cafés, and live entertainment. Enjoy time with friends in this charming area of South Beach.</p> 
                          <p class="address">Espanola Way is located one block north of 14th Street, between Washington Ave and Pennsylvania Ave.</p> 
                         
                        </li>
                        <li>
                        	<h3>3. Collins Avenue</h3>
                          <p>The Collins Avenue Shopping District is an upscale, cosmopolitan shopping experience located one block from the beach.</p>
                          
                            <p class="address">305.672.1270</p>   
                          <p class="address">Collins Avenue and Ocean Drive, between 5th and 10th Streets</p> 
                          
                           <p class="address"><a href="http://miamiandbeaches.com/shopping/collins-avenue-ocean-drive-shopping-district/36923" target="_blank">miamiandbeaches.com/shopping/collins-avenue-ocean-drive-shopping-district/36923</a></p> 
                        </li>
                        
                        <li>
                        	<h3>4. The Webster </h3>
                          <p>Shop at this trendy, multi-brand boutique in a sunlit art deco venue with a rooftop deck. </p> 
                          <p class="address">305.674.7899</p> 
                          <p class="address">1220 Collins Ave, Miami Beach, FL 33139</p> 
                          
                          <p class="address"><a href="http://thewebster.us" target="_blank">thewebster.us</a></p> 
                        </li>
                         <li>
                        	<h3>5. Babalu Miami</h3>
                           <p>305.538.0777</p> 
                          <p>Upscale boutique for clothing, fragrances, jewelry & bath items, plus designer pet gear & books.</p> 
                           <p>1121 Lincoln Rd, Miami Beach, FL 33139</p> 
                        </li>
                        
                      </ul>
                    </div>
                  </div>
        				
                 
								</div>
               </div>
              </div>
         
          
        </div> 
      </div>
      <div class="special-box ">
        <div class="special-contaienr">  
    			<div class="map-wrapper">
         <div id="map-canvas" ></div>
            </div>
     
        </div> 
      </div>
    </section>
    <!-- special wrap end--> 

  {% include footer.html %} 
</div>
