---
layout: default
---
<body id="gallery-page" ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
  <div class="gallery-nav-wrap">
  	<h1><a href="#ROOMS" class="anchorlink">ROOMS & SUITES</a></h1>
    <ul class="gallery-list">      
      <li><a href="#COMMON" class="anchorlink">COMMON AREAS</a></li>
      <li><a href="#NEIGHBORHOOD" class="anchorlink">NEIGHBORHOOD</a></li>
  </ul>
  </div>  
	<div class="m-left"> 
    
    <div class="room-type-label testing" id="ROOMS"><h2>ROOMS & SUITES</h2></div>
  
<div class="gallery-wrap gallery-container lightgallery">
	
    <div class="grid-sizer"></div>
    
	<div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-1.jpg"  ><img src="/assets/images/gallery/room-1.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-2.jpg"><img src="/assets/images/gallery/room-2.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-3.jpg"><img src="/assets/images/gallery/room-3.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-4.jpg"><img src="/assets/images/gallery/room-4.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-6.jpg"><img src="/assets/images/gallery/room-6.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/room-large-5.jpg"><img src="/assets/images/gallery/room-5.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
</div>
 
 

<div class="room-type-label testing" id="COMMON"><h2>COMMON AREAS</h2></div>

<div class="gallery-wrap gallery-container lightgallery">

	
    <div class="grid-sizer"></div>
       
	<div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-1.jpg"><img src="/assets/images/gallery/exterior-1.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-2.jpg"><img src="/assets/images/gallery/exterior-2.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-3.jpg"><img src="/assets/images/gallery/exterior-3.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-10.jpg"><img src="/assets/images/gallery/exterior-10.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
   <!-- <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-5.jpg"><img src="/assets/images/gallery/exterior-5.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
   
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-6.jpg"><img src="/assets/images/gallery/exterior-6.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
   
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-9.jpg"><img src="/assets/images/gallery/exterior-9.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>-->
     <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-8.jpg"><img src="/assets/images/gallery/exterior-8.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
     <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/exterior-large-7.jpg"><img src="/assets/images/gallery/exterior-7.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    	<div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/pool-large-1.jpg"><img src="/assets/images/gallery/pool-1.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/pool-large-2.jpg"><img src="/assets/images/gallery/pool-2.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/pool-large-3.jpg"><img src="/assets/images/gallery/pool-3.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    
	 
</div>



<div class="room-type-label testing" id="NEIGHBORHOOD"><h2>NEIGHBORHOOD</h2></div>

<div class="gallery-wrap gallery-container lightgallery">

	
    <div class="grid-sizer"></div>
       
	 
	<div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-1.jpg"><img src="/assets/images/gallery/common-area-1.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-2.jpg"><img src="/assets/images/gallery/common-area-2.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-3.jpg"><img src="/assets/images/gallery/common-area-3.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-4.jpg"><img src="/assets/images/gallery/common-area-4.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-5.jpg"><img src="/assets/images/gallery/common-area-5.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-6.jpg"><img src="/assets/images/gallery/common-area-6.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-7.jpg"><img src="/assets/images/gallery/common-area-7.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-8.jpg"><img src="/assets/images/gallery/common-area-8.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    
    <div class="g-item">
    	<div class="item" data-src="/assets/images/gallery/common-area-large-9.jpg"><img src="/assets/images/gallery/common-area-9.jpg" class="img-responsive"/>
        	<div class="overlay"><img src="/assets/images/magnifier.png" class="magnifier" /></div>
        </div>
    </div>
    
</div>
  {% include footer.html %} 
</div>

<script>
	$(window).load( function() {
//alert($(this).scrollTop());
    $('.gallery-container').masonry({
        "itemSelector": ".g-item",
        "columnWidth": ".grid-sizer",
    });

});
</script>

<script>
	$(document).ready(function(){
		//alert($(this).scrollTop());
		$('.lightgallery').lightGallery({
   		selector: '.item',
		thumbnail: false,
		counter: false
		})
		$(window).scroll(function(e) {
      
    

				$( "div.testing" ).each(function() {
					
					if($(window).scrollTop() > $(this).offset().top && $(window).scrollTop() < $(this).offset().top + $(this).next('div.gallery-container').height() )
					{
						console.log($(this).attr('id'));
						if($("div.gallery-nav-wrap").find('a').attr("href") != '#'+$(this).attr('id'))			$("a[href=#"+$(this).attr('id')+"]").click();
					}
				});
				
			})
	});
</script>

