---
layout: default
---
<body id="groups-page"  ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
<div  class="m-left">
	<div id="hero">
    <div class='hero-content'> 								
		</div>
  </div>
  <div class="group-title text-center">
  	{% region top %} 
  </div>
    <div class='groups-container'>  
     	<div class="container groups-first-container">
      	<div class="row">
        	<div class="col-sm-5">
          <div class="gropus-intro">
          {% region groups-left %} 
          
         	</div>
          </div>
          
          	<div class="col-sm-7 col-lg-6 gropus-right-content">
          {% region groups-right %} 
          
          	
          </div>
        </div>
      </div>
      
       
      <div id="rfp" class="group-findout-more" >
      	<h2 class="text-center">FIND OUT MORE.</h2>
        <p class="text-center">For more information on having your event at Washington Park Hotel, please fill out the form below. A member of our event coordination staff will respond to you shortly. </p>
  

<form class="jotform-form" action="https://submit.jotform.me/submit/61292373662458/" method="post" name="form_61292373662458" id="61292373662458" accept-charset="utf-8" data-toggle="validator"  role="form">
  <input type="hidden" name="formID" value="61292373662458" />
        <h3>YOUR INFORMATION</h3> 
        	<div class="row">
          	<div class="col-sm-6 form-group"> 
     						<label class="label-title"> <span class="errors">required - </span>First name *</label>    
                 <input type="text" class=" form-control validate[required]" data-type="input-textbox" id="input_21" name="q21_firstName" size="20" value="" required/>
          </div>
          <div class="col-sm-6 form-group">
            	<label class="label-title"><span class="errors">required - </span> last name *</label>  
             <input type="text" class=" form-control validate[required]" data-type="input-textbox" id="input_22" name="q22_lastName" size="20" value="" required/>
          </div>
        </div>
        
        <div class="row">
          	<div class="col-sm-12">
            	<label class="label-title">company name (if applicable)</label>  
          <input type="text" class=" form-control" data-type="input-textbox" id="input_23" name="q23_company" size="20" value="" />
          </div>
         </div>
         <hr>
           <h3>CONTACT INFO</h3> 
        	<div class="row">
          	<div class="col-sm-6 form-group">
            	<label class="label-title"><span class="errors">required - </span> e-mail address *</label>   
          <input type="email" class=" form-control validate[required, Email]" id="input_24" name="q24_email" size="30" value="" required/>

          </div>
          <div class="col-sm-6 form-group">
            	<label class="label-title"><span class="errors">required - </span> phone number *</label>  
          <input type="text" class=" form-control validate[required]" data-type="input-textbox" id="input_25" name="q25_phone" size="20" value="" required/>
          </div>
        </div> 
      <hr>
           <h3>EVENT INFO</h3> 
        	<div class="row">
          	<div class="col-sm-6">
            	<label class="label-title">event start date</label>  
          <input type="text" class=" form-control" data-type="input-textbox" id="input_26" name="q26_startDate" size="20" value="" />
          </div>
          <div class="col-sm-6">
            	<label class="label-title">event end date</label> 
              
          <input type="text" class=" form-control" data-type="input-textbox" id="input_27" name="q27_endDate" size="20" value="" />

          </div>
        </div>
        
         <div class="row">
          	<div class="col-sm-12">
            	<label class="label-title">approx. number of guests</label> 
              	    <input type="text" class="form-number-input  form-control" id="input_19" name="q19_approxNumber"  size="5" value="" data-type="input-number" />
          </div>
         </div>
         
         <div class="row">
          	<div class="col-sm-12">
            	<label class="label-title">approximate number of guest rooms</label> 
              	 <input type="text" class="form-number-input  form-control" id="input_20" name="q20_approximateNumber"  size="5" value="" data-type="input-number" />
          </div>
         </div>
         <div class="row">
          	<div class="col-sm-12">
            	<label class="label-title">comments</label>  
          <textarea id="input_7" class="form-control" name="q7_info" cols="40" rows="6"></textarea>
          </div>
         </div> 
         <p></p>
         <p class="text-center">
          <button id="input_2" type="submit" class="btn-empty btn-fill">
            <span>SUBMIT INFO</span>
            </button> </p>
           <input type="hidden" id="simple_spc" name="simple_spc" value="61292373662458" />
            <script type="text/javascript">
            document.getElementById("si" + "mple" + "_spc").value = "61292373662458-61292373662458";
            </script>
          </form>
          <script type="text/javascript">JotForm.ownerView=true;</script>     
  
	   
     
     
	
     </div>  
	{% include footer.html %} 
  </div>   
</div>