---
layout: default
---
<body id="amenities-page"  ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
<div  class="m-left">
	<div id="hero">
    <div class='hero-content'> 								
		</div>
  </div>
    <div class='amenities-container' ng-controller="specialDetail">
    
     <div class="amenities-wrap">
     	<div class="container">
        <div  class="special-links">
        <ul>
      <li ng-repeat="offering in offer.special_rates"><a ng-click="reloadPage"  ng-href="/special/#[[offering.rate_plan_name | spaceDash]]">[[offering.rate_plan_name]]</a></li>
    </ul></div>
    <div class="row">
         <div class="col-lg-8 col-md-7 col-sm-5 text-center">
              <div class="tt-region" data-region="en/eat.html/eat1-image.json">
              <div class="tt-region_ped" data-ped-index="0" data-ped-type="html">
              <img class="center-block img-responsive" ng-src="[[specialOffer.lead_photo_url.yankee_large]]" >
              </div>
              </div>  
          </div>
           <div class="col-lg-4 col-md-5 col-sm-7">   
              <div class="tt-region" data-region="en/eat.html/eat1.json">
              <div class="tt-region_ped" data-ped-index="0" data-ped-type="html">
              <h2>[[specialOffer.rate_plan_name]]</h2>
              <p>[[specialOffer.long_description]] </p>
               <a class="btn-empty btn-fill" target="_blank" ng-href= "https://wphsouthbeach.reztrip.com/en/special_offer?rate_code=[[specialOffer.rate_plan_code]]"><span>Book Now</span></a>
              </div>
              </div>  
            </div>
          </div>
     </div>  
  </div>  
  <div class="special-carousel">
  <div class="w-90">
  <h2 class="ng-binding">Other Special Offers</h2>
   <data-owl-carousel class="owl-carousel" data-options="{navigation: true,  pagination: true, rewindNav : false,  navigationText:	['&#8249;','&#8250;'], items : 3, itemsDesktop:[1199,3],	 responsive : true}">
      <div owl-carousel-item="" ng-repeat="list in ::offer.special_rates" class="item">
       <a ng-href="/special/#[[list.rate_plan_name | spaceDash]]"> <img  ng-src="[[list.lead_photo_url.thumb_yankee_jumbo]]" alt="[[list.rate_plan_name]]"></a>
        <h4>[[list.rate_plan_name]]</h4>
        <a class="readon-s"  ng-click="reloadPage"  ng-href="/special/#[[list.rate_plan_name | spaceDash]]">LEARN MORE</a>
      </div>
    </data-owl-carousel>
   </div>
  </div>
  {% include footer.html %}  
</div>