---
layout: default
---
<body id="groups-page"  ng-app="rezTrip" rt3-hotel-info="hotelInfo" ng-cloak>
<div  class="m-left">
	<div id="hero">
    <div class='hero-content'> 								
		</div>
  </div>
  <div class="group-title text-center">
  	{% region top %} 
  </div>
    <div class='groups-container thankyou-container'>  
  
       <div class="thankyou-wrap">
  	<h1>Thank You</h1>
    <p>We will get in touch in with you shortly.</p>
  </div>
      
        
	{% include footer.html %} 
  </div>   
</div>